html {
    margin: 0;
  }
  
  span {
    display: block;
  }
  .canvas {
    margin: 100px auto 100px;
    width: 80%;
    text-align: center;
  }

  .home{
    margin: 10px 50px ;
    width: 80%;
    text-align: center;
    width: 100px;
    height: 100px;
    border: solid black 2px;
    /* display: inline-block; */
    /* border: solid black 2px; */
  }
  
  .utube{
    border: solid black 2px;
    
    width: 100px;
    height: 100px;
    border: solid black 2px;
    /* display: inline-block; */
  }
  
  .button {
    width: 100px;
    height: 100px;
    border: solid black 2px;
    display: inline-block;
  }
  
  #grey {
    background: grey;
  }
  
  #white {
    background: white;
  }
  #blue {
    background: blue;
  }
  #yellow {
    background: yellow;
  }
  